# =========================
# Python cache & compiled files
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
venv/
dataSet/
/shelf/
/workspace.xml
processed_data/
patches/


