# Python virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Data folders
data/
processed_data/
processed_wikipedia/

# Results / outputs
results/

# ML models (BIG FILES)
models/*.joblib
models/*.pkl
models/*.h5
models/*.pt
models/*.onnx
models/
# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Ignore trained ML models
*.pkl
*.joblib

